* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 100px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    height: 60vh !important;
    background: url(img-20230314T173345Z-001/img/puerta-inicio.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.title {
    margin-bottom: 35px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

p {
    margin-bottom: 15px;
    font-size: 18px;
    color: #ffffff;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #1d1f1d;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 14rem;
    width: 22rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}

.price {
    background: url("img-20230314T173345Z-001/img/puerta-inicio.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

@media (max-width: 768px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau,
    .about {
        padding: 30px 20px;
    }

    .box-container .box {
        max-width: 100%;
    }

    .navbar {
        display: none;
    }
}

ul {
    list-style-type: '🔐';
    font-size: 16px;
}

ul li::marker {
    font-size: 15px;
    color: #101010;
}

.redes {
    margin-right: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes a {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.redes .fab,
.redes .fas {
    margin: 0 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #000;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.redes .icon1:hover {
    background: #23e123;
}

.redes .icon2:hover {
    background: #00acee;
}

.redes .icon3:hover {
    background: #C13584;
}